body {
    background-color: rgb(96, 93, 93);
}

.area {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.title {
    width: 300px;
    height: 100px;
}